body {
  background-color: #fcf6ec;
}

button {
  border-color: black;
}

h1 {
  font-size: 38px;
  font-family: "Sriracha", cursive;
  font-weight: 400;
}

h4 {
  text-align: center;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

li {
  margin: 10px;
}

.secondRow {
  border: solid;
  border-radius: 15px;
  border-color: #e2e0e0;
}
