.container {
  width: 100%;
}

body {
  background-color: #f7dcc5;
}

h1 {
  font-size: 52px;
  font-family: "Sriracha", cursive;
  font-weight: 400;
}

button {
  margin-top: 5px;
}

.icons {
  margin-top: 5px;
}

.col-4 {
  padding: 0px 0px 0px 20px;
  margin: 2px;
}

.form-control {
  margin-top: 5px;
  margin-left: 10px;
}
